In [1]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px

In [2]:
df_att = pd.read_csv("D:\Python\WebApp\MLC_Attendance_Eng_FInal_UTF8.csv")

In [3]:
print(df_att.size)

16668

In [4]:
df_att.describe()

       Date_Start   Date_End         Year  Attendance
count  926.000000  926.00000   926.000000  926.000000
mean    15.757019   15.75486  2017.514039    7.568035
std      8.732315    8.72346     2.352989    5.050364
min      1.000000    1.00000  2013.000000    0.000000
25%      8.000000    8.00000  2016.000000    4.000000
50%     16.000000   16.00000  2017.000000    7.000000
75%     23.000000   23.00000  2020.000000   10.000000
max     31.000000   31.00000  2022.000000   31.000000

In [5]:
df_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             926 non-null    object
 1   Status           926 non-null    object
 2   Type             926 non-null    object
 3   Creator          926 non-null    object
 4   Date             926 non-null    object
 5   Day_Start        926 non-null    object
 6   Day_End          926 non-null    object
 7   Month_Start      926 non-null    object
 8   Month_Finish     926 non-null    object
 9   Date_Start       926 non-null    int64
 10  Date_End         926 non-null    int64
 11  Year             926 non-null    int64
 12  Time_Start       926 non-null    object
 13  Duration         926 non-null    object
 14  Location         926 non-null    object
 15  Going            926 non-null    object
 16  Attendance       926 non-null    int64
 17  Date_Date_Excel  926 non-null    object
dtypes: int64(4), object(14)
memory usage: 130.3+ KB

In [6]:
df_att.head()

,Name,Status,Type,Creator,Date,Day_Start,Day_End,Month_Start,Month_Finish,Date_Start,Date_End,Year,Time_Start,Duration,Location,Going,Attendance,Date_Date_Excel
0,Saturday Practice,Completed,Team Practice,Eugene Arkhipov,"SATURDAY, NOVEMBER 2, 2013 AT 4 PM UTC+03",SATURDAY,SATURDAY,NOVEMBER,November,2,2,2013,4:00 PM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,7,"Saturday, November 2, 2013"
1,Sunday Practice,Completed,Team Practice,Eugene Arkhipov,"SUNDAY, NOVEMBER 3, 2013 AT 11:45 AM UTC+03",SUNDAY,SUNDAY,NOVEMBER,November,3,3,2013,11:45 AM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,5,"Sunday, November 3, 2013"
2,Monday Practice,Completed,Team Practice,Eugene Arkhipov,"MONDAY, NOVEMBER 4, 2013 AT 12 PM UTC+03",MONDAY,MONDAY,NOVEMBER,November,4,4,2013,12:00 PM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,3,"Monday, November 4, 2013"
3,Saturday Practice,Completed,Team Practice,Eugene Arkhipov,"SATURDAY, NOVEMBER 9, 2013 AT 4 PM UTC+03",SATURDAY,SATURDAY,NOVEMBER,November,9,9,2013,4:00 PM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,11,"Saturday, November 9, 2013"
4,Sunday Practice,Completed,Team Practice,Eugene Arkhipov,"SUNDAY, NOVEMBER 10, 2013 AT 11:45 AM UTC+03",SUNDAY,SUNDAY,NOVEMBER,November,10,10,2013,11:45 AM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,11,"Sunday, November 10, 2013"