In [3]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px

In [4]:
df_att = pd.read_csv("D:\Python\WebApp\MLC_Attendance_Eng_FInal_UTF8.csv")

In [5]:
print(df_att.size)

16668

In [6]:
df_att.describe()

       Date_Start   Date_End         Year  Attendance
count  926.000000  926.00000   926.000000  926.000000
mean    15.757019   15.75486  2017.514039    7.568035
std      8.732315    8.72346     2.352989    5.050364
min      1.000000    1.00000  2013.000000    0.000000
25%      8.000000    8.00000  2016.000000    4.000000
50%     16.000000   16.00000  2017.000000    7.000000
75%     23.000000   23.00000  2020.000000   10.000000
max     31.000000   31.00000  2022.000000   31.000000

In [7]:
df_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             926 non-null    object
 1   Status           926 non-null    object
 2   Type             926 non-null    object
 3   Creator          926 non-null    object
 4   Date             926 non-null    object
 5   Day_Start        926 non-null    object
 6   Day_End          926 non-null    object
 7   Month_Start      926 non-null    object
 8   Month_Finish     926 non-null    object
 9   Date_Start       926 non-null    int64
 10  Date_End         926 non-null    int64
 11  Year             926 non-null    int64
 12  Time_Start       926 non-null    object
 13  Duration         926 non-null    object
 14  Location         926 non-null    object
 15  Going            926 non-null    object
 16  Attendance       926 non-null    int64
 17  Date_Date_Excel  926 non-null    object
dtypes: int64(4), object(14)
memory usage: 130.3+ KB

In [8]:
# Assuming your DataFrame is named df_att
df_att['Date_Date_Excel'] = pd.to_datetime(df_att['Date_Date_Excel'], format='%A, %B %d, %Y')

# Check the updated data types
print(df_att['Date_Date_Excel'].dtype)

datetime64[ns]

In [9]:
df_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             926 non-null    object
 1   Status           926 non-null    object
 2   Type             926 non-null    object
 3   Creator          926 non-null    object
 4   Date             926 non-null    object
 5   Day_Start        926 non-null    object
 6   Day_End          926 non-null    object
 7   Month_Start      926 non-null    object
 8   Month_Finish     926 non-null    object
 9   Date_Start       926 non-null    int64
 10  Date_End         926 non-null    int64
 11  Year             926 non-null    int64
 12  Time_Start       926 non-null    object
 13  Duration         926 non-null    object
 14  Location         926 non-null    object
 15  Going            926 non-null    object
 16  Attendance       926 non-null    int64
 17  Date_Date_Excel  926 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 130.3+ KB

In [10]:
df_att.head()

,Name,Status,Type,Creator,Date,Day_Start,Day_End,Month_Start,Month_Finish,Date_Start,Date_End,Year,Time_Start,Duration,Location,Going,Attendance,Date_Date_Excel
0,Saturday Practice,Completed,Team Practice,Eugene Arkhipov,"SATURDAY, NOVEMBER 2, 2013 AT 4 PM UTC+03",SATURDAY,SATURDAY,NOVEMBER,November,2,2,2013,4:00 PM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,7,2013-11-02
1,Sunday Practice,Completed,Team Practice,Eugene Arkhipov,"SUNDAY, NOVEMBER 3, 2013 AT 11:45 AM UTC+03",SUNDAY,SUNDAY,NOVEMBER,November,3,3,2013,11:45 AM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,5,2013-11-03
2,Monday Practice,Completed,Team Practice,Eugene Arkhipov,"MONDAY, NOVEMBER 4, 2013 AT 12 PM UTC+03",MONDAY,MONDAY,NOVEMBER,November,4,4,2013,12:00 PM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,3,2013-11-04
3,Saturday Practice,Completed,Team Practice,Eugene Arkhipov,"SATURDAY, NOVEMBER 9, 2013 AT 4 PM UTC+03",SATURDAY,SATURDAY,NOVEMBER,November,9,9,2013,4:00 PM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,11,2013-11-09
4,Sunday Practice,Completed,Team Practice,Eugene Arkhipov,"SUNDAY, NOVEMBER 10, 2013 AT 11:45 AM UTC+03",SUNDAY,SUNDAY,NOVEMBER,November,10,10,2013,11:45 AM,Duration: 3 hr,"ул. Флотская, 11а, москва",No Data,11,2013-11-10

In [11]:
# Total count of events
total_events = df_att.shape[0]

# Count of events by Creator
events_by_creator = df_att['Creator'].value_counts()

# Count of different Status (Cancelled and Completed count)
status_counts = df_att['Status'].value_counts()

# Percent completed from all events
completed_percent = (status_counts['Completed'] / total_events) * 100

# Count of different Type (Team Practice, etc)
type_counts = df_att['Type'].value_counts()

# Count of different elements in the Name column
name_counts = df_att['Name'].value_counts()

# Count of events by Location
location_counts = df_att['Location'].value_counts()

In [12]:
# Print the results
print("Total count of events:", total_events)
print("Count of events by Creator:")
print(events_by_creator)

Total count of events: 926
Count of events by Creator:
Eugene Arkhipov           630
Artur Ventsel             287
Zombies Cup                 3
Gus Peters                  1
Sofia Ninjas Lacrosse       1
Budapest New Years Cup      1
Moscow Lacrosse Club        1
Rhinocup - Lacrosse         1
Lisboa Lacrosse Cup         1
Name: Creator, dtype: int64

In [13]:

print("Count of different Status:")
print(status_counts)
print("Percent completed from all events:", completed_percent, "%")

Count of different Status:
Completed    919
Cancelled      7
Name: Status, dtype: int64
Percent completed from all events: 99.24406047516199 %

In [14]:

print("Count of different Type:")
print(type_counts)

Count of different Type:
Team Practice                  562
Skills Practice                258
Tournament                      25
Intra-Squad Game                19
Championship                    13
Theory                          13
Conditioning                    11
Clinic                           7
Administrative Function          4
Clinic/Game/Marketing Event      4
Team Building                    4
Stringing                        4
Training Camp                    2
Name: Type, dtype: int64

In [15]:
print("Count of different elements in the Name column:")
print(name_counts)

Count of different elements in the Name column:
Академия Лакросса                       258
Тренировка в воскресенье                 63
Тренировка (суб вечер)                   59
Saturday Practice                        56
Тренировка на поляне                     54
                                       ...
Тренировка в субботу на Васильевской      1
Тренировка в пятницу на Динамо            1
The Early Frost                           1
The Northern War                          1
Сбор документов                           1
Name: Name, Length: 167, dtype: int64

In [16]:
print("Count of events by Location:")
print(location_counts)

Count of events by Location:
ул. васильевская 5                                         292
Ул. Рогова, 12к1                                           157
Шереметьевская улица 29, Москва, Россия, 127521            156
ул, добролюбова д.2 стр. 3                                  70
ул. Флотская, 11а, москва                                   47
                                                          ...
ул. Мясницкая, д.17, стр. 2                                  1
Mechelsbroekstraat 4a, 2820 Bonheiden, Belgium               1
Лиговский Пр. 246                                            1
Лиственничная аллея, д. 12/2                                 1
Krasnaya Presnya St, 24, стр. 1, Moskva, Russia, 123557      1
Name: Location, Length: 69, dtype: int64

In [17]:
all_attendees = df_att['Going'].str.split(', ').explode()

# Count the number of attendees
attendees_count = all_attendees.value_counts()

# Print the list of all attendees and their counts
print("List of all attendees and their counts:")
print(attendees_count)

List of all attendees and their counts:
Eugene Arkhipov                                                      699
Artur Ventsel                                                        397
Vladislav Vereschagin                                                333
Artem Denisov                                                        242
Valeo Sosnov                                                         216
                                                                    ...
73 people responded Going                                              1
15 people responded Going                                              1
Alisa Tsvetkova                                                        1
Даря Воршева                                                           1
Practice is cancelled\nWe are just retrubation... along with time      1
Name: Going, Length: 176, dtype: int64

In [18]:
unique_all_attendees = set(all_attendees)
print("Unique values in all_attendees:")
for attendee in unique_all_attendees:
    print(attendee)

Unique values in all_attendees:
Aleksandr Markov
Followed by 15 people
Valeria Surikova
Ivan Baranoff
17 people responded Going
Мила Бородина
Vache Oganesian
Viktor Bukanov
Egor Gorelix
Alexander Zarubin
Aleksandr Klochkov
Святослав Суханов
Никита Хоба
Evgeny Zheltikov
Mikhail Fedechkin
11 people responded Going
Иван Лысов
180 people responded Going
Dmitry Levis
Stephen Hnery
Simon Chislov
No Data
James Evans
Nikita Cherkashin
Vladislav Vereschagin
Aaron Luo
Philipp Chirkov
Podoshva-Zakharov Nikolay
Samuil Yusufov
Philipp Le
Татьяна Стародубова
Hidenori Morii
Борис Ремизов
10 people responded Going
Kirill Potekhin
Юрий Гибизти
Denis Kudrin
Dmitry Kupriyanov
Ivan Aleksandrovich
Kristina Pleshkova
Vasily Lavrov
13 people responded Going
Виктор Апаков
Alexander Sazzi
Damir Kudryakov
Irina Krez
Alyona Samokhina
Dmitry Ulyanov
Robert Zx
80 people responded Going
Artem Denisov
Daniil Kulik
73 people responded Going
7 people responded Going
Zach Cowan
Kirill Bazylev
Ruslan Romanov
2 people responded Going
Anton Podgorny
Alexandr Litoy
John Watson
Ivan Borodin
Olga Churakova
Alexey Sukhanov
Alexander Fomichev
22 people responded Going
Григорий Гоголь
Alex Lane
Кирилл Мальцев
Athen Fuller
Artur Karibyan
Igor Zelenko Jr.
Дмитрий Засов
Александр Самылкин
Nick Ecvols
Vitaly Dubinin
Gleb Global-Nomad
Polina Shuravina
Daniil Vlasenko
14 people responded Going
Евгений Цуканов
Kn Yaz
Антон Тараненко
Надежда Обрезкова
Practice is cancelled\nWe are just retrubation... along with time
Андрей Потеха
163 people responded Going
Kenneth Wong
Anton Berezin
Konstantin S Baranov
Anton Samsonov
Антон Антон
Gus Peters
Valeriy Severukhin
Сергей Леонов
Константин Гуров
София Гастин
Лев Щуклинов
Антон Беляев
50 people responded Going
Boroda Serhio
Rowan Staden-Coats
Alexander Volkov
Андрей Шухминов
Ее Ее
Валерий Порошков
Cancellation
Артём Червоный
Artur Ventsel
Alisa Tsvetkova
25 people responded Going
Даниил Хромов
109 people responded Going
Burbu Kuular
Konstantin Kologriev
Янина Сафарян
Jack Stubbs
Aleksandr Avramenko
4 people responded Going
Gleb Sinyavsky
8 people responded Going
Nikolay Efimov
Алексей Чернышов
Lina Rekubratskaya
5 people responded Going
Иван Никитин
Elizaveta Larina
Lera Skvortsova
Gio Mushukia
Mary Shevchenko
Даниил Шевченко
George Rusinov
Анастасия Кухтерина
Tuyara Dayan-Pavlova
Charlotte Ridsdale
Даря Воршева
Sergey Matyukhin
Evgen Soltys
Eugene Arkhipov
Serg Prikhodko
Vladimir Yerakhtorin
Александр Терентьев
Ivan Safonov
Василий Соболев
15 people responded Going
Ildar Isa
3 people responded Going
Лера Полежаевская
Gabriel Yegiazarov
Alina Lisnenko
Artem Smirnov
6 people responded Going
Leonid Belokopytov
Павел Багаев
Tony Fernandes
Andrey Mineev
Valeo Sosnov
Михаил Рогачев
Oleg Karakyan
Дамир Кудряков
Ester Kaplan
Cole Russon
Olga Dyminskaya
Мария Три
Тимофей Пухов
Timur Safiullin
Muhammad Ibrahim
Chase Philpot
Joshua Burkett
Alex Ilmenyov
Nikita Konogorskiy
Dmitriy Khamin
Alexandr Bovin
39 people responded Going
Konstantin Kravtsov
Алексей Бородин

In [19]:
print(len(unique_all_attendees))

176

In [20]:
filtered_attendees = [attendee for attendee in all_attendees if attendee != "No Data" and len(attendee.split()) == 2]
unique_attendees = list(set(filtered_attendees))
print("Unique attendees with 2 words:")
for attendee in unique_attendees:
    print(attendee)

Unique attendees with 2 words:
Aleksandr Markov
Valeria Surikova
Ivan Baranoff
Мила Бородина
Vache Oganesian
Viktor Bukanov
Egor Gorelix
Alexander Zarubin
Aleksandr Klochkov
Святослав Суханов
Никита Хоба
Evgeny Zheltikov
Mikhail Fedechkin
Иван Лысов
Dmitry Levis
Stephen Hnery
Simon Chislov
James Evans
Nikita Cherkashin
Vladislav Vereschagin
Aaron Luo
Philipp Chirkov
Podoshva-Zakharov Nikolay
Samuil Yusufov
Philipp Le
Татьяна Стародубова
Hidenori Morii
Борис Ремизов
Kirill Potekhin
Юрий Гибизти
Denis Kudrin
Dmitry Kupriyanov
Ivan Aleksandrovich
Kristina Pleshkova
Vasily Lavrov
Виктор Апаков
Alexander Sazzi
Damir Kudryakov
Irina Krez
Alyona Samokhina
Dmitry Ulyanov
Robert Zx
Artem Denisov
Daniil Kulik
Zach Cowan
Kirill Bazylev
Ruslan Romanov
Anton Podgorny
Alexandr Litoy
John Watson
Ivan Borodin
Olga Churakova
Alexey Sukhanov
Alexander Fomichev
Григорий Гоголь
Alex Lane
Кирилл Мальцев
Athen Fuller
Artur Karibyan
Дмитрий Засов
Александр Самылкин
Nick Ecvols
Vitaly Dubinin
Gleb Global-Nomad
Polina Shuravina
Daniil Vlasenko
Евгений Цуканов
Kn Yaz
Антон Тараненко
Надежда Обрезкова
Андрей Потеха
Kenneth Wong
Anton Berezin
Anton Samsonov
Антон Антон
Gus Peters
Valeriy Severukhin
Сергей Леонов
Константин Гуров
София Гастин
Лев Щуклинов
Антон Беляев
Boroda Serhio
Rowan Staden-Coats
Alexander Volkov
Андрей Шухминов
Ее Ее
Валерий Порошков
Артём Червоный
Artur Ventsel
Alisa Tsvetkova
Даниил Хромов
Burbu Kuular
Konstantin Kologriev
Янина Сафарян
Jack Stubbs
Aleksandr Avramenko
Gleb Sinyavsky
Nikolay Efimov
Алексей Чернышов
Lina Rekubratskaya
Иван Никитин
Elizaveta Larina
Lera Skvortsova
Gio Mushukia
Mary Shevchenko
Даниил Шевченко
George Rusinov
Анастасия Кухтерина
Tuyara Dayan-Pavlova
Charlotte Ridsdale
Даря Воршева
Sergey Matyukhin
Evgen Soltys
Eugene Arkhipov
Serg Prikhodko
Vladimir Yerakhtorin
Александр Терентьев
Ivan Safonov
Василий Соболев
Ildar Isa
Gabriel Yegiazarov
Лера Полежаевская
Alina Lisnenko
Artem Smirnov
Leonid Belokopytov
Павел Багаев
Tony Fernandes
Andrey Mineev
Valeo Sosnov
Михаил Рогачев
Oleg Karakyan
Дамир Кудряков
Ester Kaplan
Cole Russon
Olga Dyminskaya
Мария Три
Тимофей Пухов
Timur Safiullin
Muhammad Ibrahim
Chase Philpot
Joshua Burkett
Alex Ilmenyov
Nikita Konogorskiy
Dmitriy Khamin
Alexandr Bovin
Konstantin Kravtsov
Алексей Бородин

In [21]:
unique_attendees_count = len(unique_attendees)
print("Count of unique attendees with 2 words:", unique_attendees_count)

Count of unique attendees with 2 words: 148

In [22]:
# Create a new DataFrame containing only the rows where Eugene Arkhipov appears in the Going column
eugene_attendee_df = df_att[df_att['Going'].str.contains('Eugene Arkhipov', na=False)]

In [23]:
print(eugene_attendee_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 131 to 925
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             699 non-null    object
 1   Status           699 non-null    object
 2   Type             699 non-null    object
 3   Creator          699 non-null    object
 4   Date             699 non-null    object
 5   Day_Start        699 non-null    object
 6   Day_End          699 non-null    object
 7   Month_Start      699 non-null    object
 8   Month_Finish     699 non-null    object
 9   Date_Start       699 non-null    int64
 10  Date_End         699 non-null    int64
 11  Year             699 non-null    int64
 12  Time_Start       699 non-null    object
 13  Duration         699 non-null    object
 14  Location         699 non-null    object
 15  Going            699 non-null    object
 16  Attendance       699 non-null    int64
 17  Date_Date_Excel  699 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 103.8+ KB
None

In [24]:

# Find the first and last date Eugene Arkhipov attended an event
first_date = eugene_attendee_df['Date_Date_Excel'].min()
last_date = eugene_attendee_df['Date_Date_Excel'].max()

In [25]:
print(first_date)
print(last_date)

2015-05-23 00:00:00
2022-03-19 00:00:00

In [26]:
from dateutil.relativedelta import relativedelta

# Create a new DataFrame containing only the rows within the date range of Eugene Arkhipov's attendance
eugene_time_period_df = df_att[(df_att['Date_Date_Excel'] >= first_date) & (df_att['Date_Date_Excel'] <= last_date)]

# Count the number of events Eugene Arkhipov attended in that time period
events_attended = len(eugene_attendee_df)

# Count the total number of events in the time period
total_events_in_time_period = len(eugene_time_period_df)

# Calculate the percentage of events attended by Eugene Arkhipov
percentage_attended = (events_attended / total_events_in_time_period) * 100

# Assuming you have `first_date` and `last_date` as datetime objects
delta = relativedelta(last_date, first_date)

print(f"Eugene Arkhipov attended {events_attended} events")
print(f"{percentage_attended:.2f}% of total events")
print(f"from {first_date} to {last_date}.")
print(f"He was available to practice for {delta.years} Years, {delta.months} Months, and {delta.days} Days from 2015 to 2022")

Eugene Arkhipov attended 699 events
87.92% of total events
from 2015-05-23 00:00:00 to 2022-03-19 00:00:00.
He was available to practice for 6 Years, 9 Months, and 24 Days from 2015 to 2022

In [27]:
all_durations = df_att['Duration']

print(all_durations)

0             Duration: 3 hr
1             Duration: 3 hr
2             Duration: 3 hr
3             Duration: 3 hr
4             Duration: 3 hr
               ...
921    Duration: 1 hr 30 min
922    Duration: 1 hr 30 min
923    Duration: 1 hr 30 min
924    Duration: 1 hr 30 min
925    Duration: 1 hr 30 min
Name: Duration, Length: 926, dtype: object

In [28]:
# Assuming you already have your DataFrame
unique_durations = df_att['Duration'].unique()

# Print the unique values
print(unique_durations)

['Duration: 3 hr' 'Duration: 2 hr' 'Duration: 2 days' 'Duration: 6 hr'
 'Duration: 4 hr' 'Duration: 3 days' 'Duration: 5 hr'
 'Duration: 1 hr 50 min' 'Duration: 3 hr 30 min' 'Duration: 2 hr 30 min'
 'Duration: 1 hr 30 min' 'Duration: 7 hr' 'Duration: 9 hr'
 'Duration: 8 hr' 'Duration: 1 hr 20 min' 'Duration: 4 days'
 'Duration: 8 hr 30 min' 'Duration: 1 hr' 'Duration: 4 hr 30 min'
 'Duration: 1 hr 59 min']

In [29]:
# Sample duration values from all rows
durations = all_durations

# Define a function to convert a duration string to minutes
def convert_duration_to_minutes(duration_str):
    parts = duration_str.split()
    minutes = 0

    for i in range(len(parts)):
        if parts[i] == 'days':
            minutes += int(parts[i - 1]) * 24 * 60
        elif parts[i] == 'hr':
            minutes += int(parts[i - 1]) * 60
        elif parts[i] == 'min':
            minutes += int(parts[i - 1])

    return minutes

# Convert the duration strings to minutes and sum them
total_minutes = sum([convert_duration_to_minutes(duration) for duration in durations])

# Convert the total minutes back to hours and minutes
total_hours = total_minutes // 60
remaining_minutes = total_minutes % 60

# Print the total duration
print(f"Total Duration: {total_hours} hr {remaining_minutes} min")

Total Duration: 3454 hr 39 min

In [30]:
# Filter the DataFrame to select rows where Eugene Arkhipov is in the "Going" column
eugene_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False)]

# Sample duration values from the filtered DataFrame
eugene_durations = eugene_events['Duration']

# Define a function to convert a duration string to minutes
def convert_duration_to_minutes(duration_str):
    parts = duration_str.split()
    minutes = 0

    for i in range(len(parts)):
        if parts[i] == 'days':
            minutes += int(parts[i - 1]) * 24 * 60
        elif parts[i] == 'hr':
            minutes += int(parts[i - 1]) * 60
        elif parts[i] == 'min':
            minutes += int(parts[i - 1])

    return minutes

# Convert the duration strings to minutes and sum them
total_minutes = sum([convert_duration_to_minutes(duration) for duration in eugene_durations])

# Convert the total minutes back to hours and minutes
total_hours = total_minutes // 60
remaining_minutes = total_minutes % 60

# Print the total duration for events where Eugene Arkhipov was present
print(f"Total Duration for Eugene Arkhipov's Events: {total_hours} hr {remaining_minutes} min")

Total Duration for Eugene Arkhipov's Events: 2073 hr 39 min

In [32]:
# Filter the DataFrame to select rows where Eugene Arkhipov is in the "Going" column
eugene_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False)]

# Count the number of occurrences of each unique event
event_counts = eugene_events['Name'].value_counts()

# Print the counts of each event
print("Events Eugene Arkhipov Attended:")
print(event_counts)

Events Eugene Arkhipov Attended:
Академия Лакросса                                      258
Тренировка в воскресенье                                62
Тренировка (суб вечер)                                  59
Тренировка на поляне                                    54
Тренировка (вос днем)                                   52
                                                      ...
Функциональный тренинг в Сокольниках                     1
Лакросс на Днем Спорта в Сокольниках. Часть вторая.      1
Тренировка в Субботу                                     1
Днем На Поляне                                           1
Пробная игра на новом поле                               1
Name: Name, Length: 96, dtype: int64

In [33]:
# Filter the DataFrame to select rows where Eugene Arkhipov is in the "Going" column
eugene_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False)]

# Count the number of occurrences of each unique event type
type_counts = eugene_events['Type'].value_counts()

# Print the counts of each event type
print("Event Types Eugene Arkhipov Attended:")
print(type_counts)

Event Types Eugene Arkhipov Attended:
Team Practice                  382
Skills Practice                258
Theory                          13
Tournament                      12
Intra-Squad Game                10
Championship                     6
Clinic                           5
Clinic/Game/Marketing Event      3
Stringing                        3
Conditioning                     2
Administrative Function          2
Training Camp                    2
Team Building                    1
Name: Type, dtype: int64

In [35]:
# Filter the DataFrame to select rows where Eugene Arkhipov is in the "Going" column
eugene_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False)]

# Group the filtered DataFrame by the "Year" column and count the occurrences
events_per_year = eugene_events['Year'].value_counts().sort_index()

# Print the count of events attended by Eugene Arkhipov each year
print("Events Attended by Eugene Arkhipov Each Year:")
print(events_per_year)

Events Attended by Eugene Arkhipov Each Year:
2015     51
2016    127
2017    115
2018     91
2019     61
2020    119
2021    122
2022     13
Name: Year, dtype: int64

In [45]:
# Filter the DataFrame to select rows where Eugene Arkhipov is in the "Going" column
eugene_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False)]

# Group the filtered DataFrame by the "Year" column and count the total occurrences
events_per_year = eugene_events['Year'].value_counts().sort_index()

# Filter the DataFrame to select rows with "Team Practice" events attended by Eugene
team_practice_events = eugene_events[eugene_events['Type'] == 'Team Practice']

# Group the filtered "Team Practice" DataFrame by the "Year" column and count the occurrences
team_practice_per_year = team_practice_events['Year'].value_counts().sort_index()

# Filter the DataFrame to select rows with "Skills Practice" events attended by Eugene
skills_practice_events = eugene_events[eugene_events['Type'] == 'Skills Practice']

# Group the filtered "Skills Practice" DataFrame by the "Year" column and count the occurrences
skills_practice_per_year = skills_practice_events['Year'].value_counts().sort_index()

# Filter the main DataFrame (df_att) to select rows where Eugene Arkhipov is in the "Going" column
other_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False, na=False)]

# Exclude "Skills Practice" and "Team Practice" events
other_events = other_events[~other_events['Type'].isin(['Skills Practice', 'Team Practice'])]

# Group the "Other Events" DataFrame by the "Year" column and count the occurrences
other_events_per_year = other_events['Year'].value_counts().sort_index()

# Merge all the Series to create a DataFrame with all the information
result = pd.DataFrame({'Total Events Attended': events_per_year, 'Team Practice Attended': team_practice_per_year, 'Skills Practice Attended': skills_practice_per_year, 'Other Events Attended': other_events_per_year})
result.fillna(0, inplace=True)  # Fill NaN values with 0

# Print the result
print("Events Attended by Eugene Arkhipov Each Year:")
print(result)

Events Attended by Eugene Arkhipov Each Year:
      Total Events Attended  Team Practice Attended  Skills Practice Attended  \
2015                     51                      44                       0.0
2016                    127                      61                      55.0
2017                    115                      47                      50.0
2018                     91                      31                      55.0
2019                     61                      46                      14.0
2020                    119                      47                      63.0
2021                    122                      93                      21.0
2022                     13                      13                       0.0

      Other Events Attended
2015                    7.0
2016                   11.0
2017                   18.0
2018                    5.0
2019                    1.0
2020                    9.0
2021                    8.0
2022                    0.0

In [49]:
# Filter the DataFrame to select rows where Eugene Arkhipov is in the "Going" column
eugene_events = df_att[df_att['Going'].str.contains('Eugene Arkhipov', case=False)].copy()

# Convert the "Date_Date_Excel" column to datetime objects
eugene_events["Date_Date_Excel"] = pd.to_datetime(eugene_events["Date_Date_Excel"])

# Extract the month from the "Date_Date_Excel" column and create a new "Month" column
eugene_events['Month'] = eugene_events["Date_Date_Excel"].dt.month

# Group the DataFrame by month and count the total occurrences
events_per_month = eugene_events['Month'].value_counts().sort_index()

# Print the breakdown of events attended by Eugene Arkhipov for each month
print("Events Attended by Eugene Arkhipov Each Month:")
print(events_per_month)

Events Attended by Eugene Arkhipov Each Month:
1     27
2     38
3     51
4     58
5     80
6     76
7     74
8     83
9     77
10    60
11    35
12    40
Name: Month, dtype: int64